:root {
  --header-height: 14vh;
}

.page-container {
  position: relative;
  min-height: 100vh;
  background-color: cadetblue;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

.header_navbar {
  height: var(--header-height);
}

.header_navbar h1 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 158, 226);
  margin-bottom: 0px;
}

main {
  min-height: 70vh;
  box-sizing: 960px;
  margin: auto;
  background-color: rgb(92, 70, 232);
  overflow: hidden
}

h2 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstCol {
  padding-top: 60px;
}

.form {
  width: 100%;
}

.formRow {
  justify-content: space-between;
}

.secondCol {
  padding-top: 60px;
  width: 50%;
}

.map {
  object-fit: fill;
}


/* .flex {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */