.page-container {
  position: relative;
  min-height: 100vh;
  background-color: cadetblue;
}

.content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
}

header h1 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 158, 226);
  margin-bottom: 0px;
  height: 80px;
}

main {
  height: max-content;
  box-sizing: 960px;
  margin: auto;
}

h2 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.firstCol {
  padding-top: 60px;
}

.form {
  width: 100%;
}

.formRow {
  justify-content: space-between;
}

.secondCol {
  padding-top: 60px;
  width: 50%;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(20, 21, 26);
  color: aliceblue;
  font-size: 1.5rem;
  height: 8vw;
}

footer p {
  margin: auto;
}

.map {
  object-fit: fill;
}


/* .flex {
  display: flex;
  width: 90%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */