header h1 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 158, 226);
  margin-bottom: 0px;
  height: 80px;
}

main {
  height: 600px;
  background-color: cadetblue;
}

main section {
  margin-left: 41%;
}

h2 {
  margin-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(143, 158, 226);
}

.map {
  height: 300px;
  width: 400px;
}